If:                               # Apply this config conditionally
  PathMatch: .*\.h                # to all headers...
CompileFlags:                     # Tweak the parse settings
  Add: ["--include=/home/dootsie/Desktop/virtio-fs-shared/dumbjson_dev/dumbjson/code/global.h"] #I don't know why I need to do ../../code/
